.grid {
    height: 40vw;
    width: auto;
    padding: 2vw;
}

.button-1 {
    margin-top:1vw;

    background-color: white;
    border: 0;
    border-radius: 1vw;
    
    cursor: pointer;
    width : 7vw;
    height: 4vw;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    font-size: 0.75vw;
    z-index: 1;
}

.button-1:hover {
    background-color: transparent;
    color:white;
    border: 1px solid white;
}

.button-1:active {
    background-color: transparent;
    color:white;
    border: 1px solid white;
}