@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.App {
    margin: 0;
    padding: 0;
    width: auto;
    animation: gradient 15s ease infinite;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Sen', sans-serif;
    overflow: hidden;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 0.75vw;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}